doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regerds
            br
            | Feb-2021 and 2 persons from Dec-2020
            br
            |
            a(href="") Click here